{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    <tbody>
    {{#member}}
        <tr>
            <th>{{id}}</th>
            <th>{{email}}</th>
            <td>{{password}}</td>
        </tr>
    {{/member}}
    </tbody>
</table>
<a href="/members/{{member.id}}/edit">Edit</a>
<a href="/members/{{member.id}}/delete" class="btn btn-primary">Delete</a>
<a href="/members">Go Article List</a>

{{>layouts/footer}}